<body>

    <!-- Navigation -->


    <!--==========================
    INSIDE HERO SECTION Section
============================-->
    <section class="page-image page-image-about md-padding">
        <h1 class="text-white text-center">ADMIN</h1>
    </section>

    <!--==========================
    ABOUTUS Section
============================-->
    <section id="aboutus" class="md-padding">
        <div class="container">

            {{> admin-nav}}
        </div>
    </section>
            <!--==========================
    THE TEAM
============================-->

            <section id="team" class="md-padding">
                <div class="container">

                    <div class="row text-center">
                        <div class="col-md-4 offset-md-4">
                            <div class="section-header">
                                <h2 class="title">The Team</h2>
                            </div>
                        </div>
                    </div>
                    {{#if sessionFlash.message }}
						<div class="{{sessionFlash.type}}">
							{{sessionFlash.message}}
						</div>
					{{/if}}
                    <div class="row">
                        {{#each teams}}
                        <div class="col-md-4">
                            
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="img/user1.jpg" alt="">
                                <h4>{{team_name}}</h4>
                                <p class="text-muted">{{team_rank}}</p>
                                <ul class="list-inline social-buttons">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        {{/each}}
                    </div>
                </div>
            </section>