<ul style="display: block;">
    <li class="nav-item" style="float: left;margin-right: 40px;">
        <a class="nav-link" href="/admin">Admin</a>
    </li>

    <li class="nav-item" style="float: left;margin-right: 40px;">
        <a class="nav-link" href="/admin/category">Category </a>
    </li>

    <li class="nav-item" style="float: left;margin-right: 40px;">
        <a class="nav-link" href="/admin/link3">Link 3 </a>
    </li>
</ul>